body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.profile-image img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-info {
    flex: 1;
    max-width: 800px;
	font-size: 19px;
}

.profile-info h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.profile-info p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-info {
        text-align: center;
    }
}

.nav {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 10px 0;
}

.nav_ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav_li {
	margin: 0 15px;
}

.nav_li a {
	text-decoration: none;
	color: #333;
	font-weight: 500;
	transition: color 0.3s ease;
}

.nav_li a:hover {
	color: #007bff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
	color: #2c3e50;
}



.navbar_height {
	height: 100px;
}


#body_div {
	margin-top: 60px;
}

.link {
	/* text-decoration: underline; */
}

.link a{
	text-decoration: underline;
}

#degree {
	font-size: 15px;
	font-weight: 300;
}

p {
	font-family: "Montserrat", sans-serif;
}

a {
  color: #008AFF;
}
a:hover,
a:focus {
  color: #0085a1;
}


/* Header Image and Text */

.header {
	color: black;
	padding: 10px;
	margin-left: 25px ;
	font-family: "Montserrat";
	font-weight:400;
    margin-top: 0px;
}

.news {
	color: black;
	padding: 10px;
	margin-left: 30px ;
	font-family: "Montserrat";
	font-weight:400;
}

.profile_pic_container {
	margin-top: 35px;
  margin-bottom:35px;
	display: inline-block;
	font-family: "Montserrat";
}

#profile_pic{
	margin-left:25px;
	margin-right: 20px;
	display: inline-block;
}

.im_style {
	width:280px;
	margin-left: 35px;
}


.bio {
	display: inline-block;
	vertical-align: middle;
}


.name {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.container{ 
    width:1500px; 
    margin:0 auto; 
}

.wsite-content-title {
    font-family:"Droid Serif";
    font-size:24px;
}

.sm-text {
	color: black;
	display: block;
	padding: 10px 0px 0px 40px;
	margin: 5px;
	font-size: 18px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	border-radius: 3px;
}

.sm-text-project {
	color: black;
	display: block;
	padding: 10px 0px 0px 40px;
	margin: 5px;
	font-size: 18px;
	font-weight: 300;
	border-radius: 3px;
}

.sm-text-new {
	color: black;
	display: block;
	padding: 10px 0px 0px 40px;
	margin: 10px;
	font-size: 21px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	border-radius: 3px;
}

.med-text {
	color: black;
	display: block;
	padding: 10px 0px 0px 30px;
	margin: 15px;
	font-size: 18px;
	font-family: "Montserrat";
	font-weight: 300;
	border-radius: 3px;
}

h1 {
	color: black;
	display: block;
	padding: 10px 10px 10px 30px;
	font-size: 60px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:300;
	margin: 15px;
    margin-top: 0;
}


.half-sm-text {
	color: black;
	display: inline-block;
	padding: 10px 10px 10px 30px;
	margin: 15px;
	font-size: 15px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:300;
	width: fit-content;
}


footer {
  padding: 3000px 0;
  /*background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  margin-top: 50px;*/
  font-size: 18px;
  margin: auto;
  width: 25%;
}

footer a {
  color: #404040;
}

footer .list-inline {
  padding: 0;
}
footer .copyright {
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 0;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}

@media (max-width:890px) {

  .nav {
  	width: 100vw;
  }

	.nav_ul {
		padding:0;
	}

	#profile_pic {
		margin-left:0;
		padding-left:0;
	}

	.half-sm-text {
		margin-left: 0;
	}

	.sm-text {
		padding-left:0;
	}

	.header {
		margin-left: 0px ;
	}
}

@media (max-width:400px) {

  .nav {
  	width: 100vw;
  }

	.im_style {
		width:200px;
		margin-left: 35px;
	}

	.nav_li a {
		font-size: 15px;
	}

}

ol li {
    padding: 10px 0px;
}

.social-links {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 20px 0;
}

.social-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.social-link:hover {
	transform: scale(1.1);
}

.social-link svg {
	width: 24px;
	height: 24px;
}